body {
    margin: 0 ;
    padding: 0;
    overflow-x: hidden;
}

.row {
    margin: 0 !important;
}




header {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    background-color: #6495ed;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-item {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: none;
}

.nav-link {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width: 768px) {
    header {
        position: unset;
    }
}


.logo-header {
    width: 100px;
    border-radius: 10px;
    float: left
}

.botones-header:hover .accion-header {
    background-color: #ffffff;
    color: #6495ed;
    transition: 0.5s;
}



.botones {
    cursor: pointer;
    border: none;
    transition: all 0.5s;
    border-radius: 10px;
    background-color: #6495ed;
    color: #ffffff;
    font-size: 16px;
}

.botones:hover {
    background-color: #ffffff;
    color: #6495ed;
    transition: all 0.5s;
}

.botones:active {
    background-color: #6495ed;
    color: #ffffff;
    transform: scale(0.8);
}

.contenedor-prin {
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    height: 80vh;
    background-color: #fff;
}

.titulo-inicio {
    display: flex;
    align-items: center;
    font-size: 100px;
    color: #ffffff;
    letter-spacing: 2px;
    padding: 0;
    justify-content: center;
    text-shadow:
    -3px -3px 0 #6495ed,
    3px -3px 0 #6495ed,
    -3px 3px 0 #6495ed,
    3px 3px 0 #6495ed; 
}

@media (max-width:768px ) {
    .titulo-inicio {
        font-size: 70px;
        letter-spacing: 1px;
        text-shadow:
    -2px -2px 0 #6495ed,
    2px -2px 0 #6495ed,
    -2px 2px 0 #6495ed,
    2px 2px 0 #6495ed;
    }

    .contenedor_prin {
        padding-top: 10px;
        height: 50vh;
    }
}

.parrafo-inicio {
    color: #bbb;
    font-size: 24px;
}

.texto-matchwork {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0;
    /*margin: 25px;*/
    width: 100%;
}
a {
    color: #fff;
    text-decoration: none;
    
    font-size: 16px;
}

.accion-inicio {
    text-decoration: none
}

.botones-inicio {
    margin: 0 20px;
    padding: 0 5px;
    border-radius: 50px;
   height: 50px;
    width: 120px;
    
    border: 1px solid #6495ed;
}

.botones-inicio:hover .accion-inicio {
    background-color: #ffffff;
    color: #6495ed;
    transition: 1s;
    text-decoration: none;
}

.contenedor-h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}



.titulo-medio {
    font-size: 50px;
    margin: 15px;
    color: #ffffff;
    background-color: #6495ed;
    border-radius: 35px;
    width: 300px;
    text-align: center;

}

.contenedor-conexiones {
    display: inline-flex;
    width: 100%;
   
    margin: 0;
    align-items: center;
    justify-content: center;
}

.colum {
    display: flex;
    flex-direction: column;
    text-align: center;
   
    justify-content: center;
    align-items: center;
}

.columna-1 img {
    width: 250px;
}

.interaccion-match {
    padding-right: 50px ;
    width: 100%;
}

.columna-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 50px;
    margin: 0;
    
    align-content: center;
    
}

@media (max-width:1080px) {
    .contenedor-conexiones {
        flex-direction: column-reverse;
    }

    .columna-1 {
        flex-direction: row;
    }
    
    .columna-1 img {
        width: 200px;
    }   
}


@media (max-width: 768px) {
    .columna-2 {
        flex-direction: column-reverse;
        display: grid;
        grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    }  
}

.items {
    display: flex;
    background-color: #6495ed;
    padding: 20px;
    border-radius: 12px;
    font-size: 18px;
    gap: 5px;
    height: 150px;
    
}

.imagen-items {
    width: 150px;
   height: 100%;
    border: 2px solid #fff;
    border-radius: 10px;
}



#imagen-item {
    width: 100%;
    border-radius: 10px;
}

.texto-items {
    width: 80%;
    height: 100%;
    text-align: left;
    
}

#titulo-item, #parrafo-item {
    color: #eee;
    letter-spacing: 0.5px;
}

.contenedor-final {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 40px 0;
    justify-content: center;
        padding-bottom: 50px;
}

.bloque-central-final {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 50px auto;
    padding-bottom: 50px;
}

.bloque-izquierdo, .bloque-derecho {
    text-align: center;
    width: 350px;
    background-color: #6495ed;
    border-radius: 30px;
}

.titulo-bloques {
    color: #fff;
    letter-spacing: 1px;

    align-content: center;
    margin: 20px 20px 0 20px;
}

.titulo-bloques h3 {
    font-size: 20px;
}


.texto-bloque {
    color: #fff;
    padding: 0 20px;
    margin: 20px;
    align-items: flex-start; 
}

.texto-bloque p {
    font-size: 14px;
}


.bloque-final {
    width: 100%;
    margin-bottom: 20px !important
   ;

}

.lista {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 50%;
    gap: 10px;
    color: #6495ed;
    margin: 0 auto;
    justify-items: center;
    justify-content: center;
}

.lista li {
   
    width: 100px;
    font-size: 18px;
    margin: 5px 10px;
}

@media (max-width:768px) {
    .lista {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 25px;
    }

    .bloque-derecho, .bloque-izquierdo {
        margin: 10px;
        width: 300px;
    }

    
}

footer {
    display: flex;
    height: 25vh;
    width: 100%;
   
    background-color: #6495ed;
    color: #fff;
    justify-content: space-around;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer .nombre-footer {
    justify-content: center;
}

footer .terminos-footer, footer .redes-footer {
    margin-top: 10px;
}




.redes-footer {
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
}

.terminos-footer {
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: center;
}

.nombre-footer {
    display: flex;
    align-items: center;
}

@media (max-width:768px) {
    .lista {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 25px;
    }

    .bloque-derecho, .bloque-izquierdo {
        margin: 10px;
        width: 300px;
    }

   footer {
    text-align: center;
   }

   footer .nombre-footer {
    justify-content: center;
   }
}

.inicio-sesion {
    display: flex;
    flex-direction: column;
    width: 300px;
   ;
    justify-content: flex-start;
    background-color: #6495ed;
    border-radius:20px ;
    align-items: center;
}

.imagen-inicio-sesion {
    width: 150px;
}

.form-inicio-sesion {
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
   ; 
    align-items: center;
}

.form-inicio-sesion input {
margin-bottom: 10px;
margin-top: 3px ;
border-radius: 20px;
border: none;
width: 200px;
text-align: center;
}


.boton-sesion {
    margin: 10px 5px;
   
    width: 70px;
    
}

.accion-sesion {
   
    width: 70px;
}

.boton-sesion:hover .accion-sesion {
    background-color: #fff;
    color: #6495ed;
    transition: all 1s;
}

.signup, .login {
    width: 100%;
    height: 70vh;
    display: grid;
    place-items: center;
}



.contenedor-registro {
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: #6495ed;
    border-radius:20px ;
    gap: 0px;
    color: #fff;
    align-items: center;
}

.logo-registro, .logo-registro img {
    width: 150px;
   ;
}

.titulo-registro {
    display: flex;

    align-items: center;
    ;
}

.titulo-registro h1 {
    font-size: 25px;
    letter-spacing: 2px
}

.registro {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,auto);
    gap: 8px;
    max-width: 600px;

    margin: 0 auto;
    justify-items:center ;
}

.registro input {
    border-radius: 30px;
    border: none;
    width: 150px;
   
    margin-top: 5px ;
    text-align: center;
    color: #6495ed;
}

.registro select {
    background-color: #fff;
    color: #6495ed;
    border: none;
    border-radius: 30px;
   
    width: 150px;
    padding: 0px 6px;
    margin-top: 5px;
}



.espacio-boton-registro {

    display: flex;
    grid-column: span 2;
}

.boton-registro {
    margin: 10px;
    width: 100px;
   
    border-radius: 30px;
}

.boton-registro:hover .accion-registro {
    background-color: #fff;
    color: #6495ed;
    transition: 1s;
}


.campo-registro-radius {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@media (max-width:768px) {
    .campo-registro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedor-registro {
        width: 350px;
    }
}


.contenedor-fotos-user {
    display: flex;
    flex-direction: column;
    height: 40vh;
    align-items: center;
    margin-bottom: 50px;
}

.foto-portada {
    width: 80%;
    height: 200px;
}

.foto-perfil {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translateX(-50%);
}

.contenedor-nombre-perfil {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.contenedor-nombre-perfil h1 {
    font-size: 40px;
    color: #6495ed;
    text-align: center;
}

.contenedor-info-user {
    display: inline-flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    flex-wrap: wrap;
}

.info-user {
    display: flex;
    flex-direction: column;
    width: 300px;
   height: 300px;
    margin: 0 20px;
    padding: 20px;
    gap: 5px;
    border: 1px solid #646464;
    border-radius: 30px;
    margin-top: 15px;
}

.info-cazador h2 {
    display: flex;
    justify-content: center;
}

.contenedor-info-user p {
    color: #646464;
}

.contenedor-info-user h2 {
    font-size: 18px;
    color: #6495ed;
}

.contenedor-info-user h3 {
    font-size: 16px;
    color: #6495ed;
}

.info-user h2 {
    display: flex;
    justify-content: center;
}

.info-user a {
    color: #646464;
    
}

.contenedor-contenido-user {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
   ;
    margin-bottom: 20px;
}

.titulo-portafolio-user{
    display: flex;
    margin: 60px 30px;
    align-items: center;
    justify-content: center
}

.titulo-portafolio-user h2 {
    font-size: 50px;
    color: #6495ed;
}

.item-proyecto {
    width: 450px;
   height: 180px;
    margin: 10px;
    gap: 10px;
}

.imagen-proyecto {
    width: 120px;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.imagen-proyecto img {
    width: 120px;
    height: 100%;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.item-proyecto p, .item-proyecto h3 {
    color: #fff;
}

.info-proyecto {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

@media (max-width:768px) {
    .item-proyecto {
    width: 350px;
   height: 250px;
    margin: 10px;
}
}

.item-proyecto-cz {
    width: 500px;
   height: 230px;
    margin: 10px;
    padding: 10px;
}

.imagen-proyecto-cz {
    width: 120px;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.imagen-proyecto-cz img {
    width: 120px;
    height: 100%;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.item-proyecto-cz p, .item-proyecto-cz h3 {
    color: #fff;
}

.info-proyecto-cz {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

@media (max-width:768px) {
    .item-proyecto-cz {
    width: 370px;
   height: 230px;
    margin: 10px;
    padding: 10px;
}
.info-proyecto-cz h3  {
    margin: 0;
    padding: 2px;
    text-align: center;
    
}

.info-proyecto-cz p {
    margin: 0;
    padding: 2px;
}
}



.interaccion-match {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    align-items: center;
}

.interaccion-match h3 {
    font-size: 25px;
    color: #6495ed;
}


.boton-interaccion-perfil {
    width: 150px;
    padding: 6px;
    border: 1px solid #6495ed;
}

.boton-interaccion-perfil:hover .accion-perfil {
    background-color: #ffffff;
    color: #6495ed;
    transition: 1s;
}

.contenedor-titulo-match {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-match {
    display: flex;
    align-items: center;
    font-size: 100px;
    margin: 0px;
    color: #ffffff;
    letter-spacing: 2px;
    
    text-shadow:
    -3px -3px 0 #6495ed,
    3px -3px 0 #6495ed,
    -3px 3px 0 #6495ed,
    3px 3px 0 #6495ed; 
}

@media (max-width: 720px) {
    .titulo-match {
    font-size: 50px;
    text-align: center;
    margin: 0px;
    padding: 10px;
    border-radius: 50px;
    letter-spacing: 1px;
    background-color: #6495ed;
}

}

.contenedor-filtros {
    width: 100%;
    display: flex;
}


.contenedor-filtros label {
    background-color: #6495ed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #fff;
    margin: 5px;
    width: 150px;
    height: 35px;
}

.contenedor-filtros select {
    display: flex;
    color: #6495ed;
    background-color: #fff;
    padding: 0 5px;
    border-radius: 20px;
    border-color: #6495ed;
}

.busqueda-filtros {
    display:flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    align-items: flex-start;

}

.columna-filtros {
    height: 40%;
    display: flex;
    flex-direction: column;

}

.contenedor-filtros {
    width: 100%;
    margin: 5px 0;
}


.contenedor-filtros .filtro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 25px;
    padding-bottom: 5px;

    
}


.contenedor-filtros label {
    background-color: #6495ed;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #fff;
    margin: 5px;
}

.contenedor-filtros select {
    display: flex;
    color: #6495ed;
    background-color: #fff;
    padding: 0 5px;
    border-radius: 20px;
    border-color: #6495ed;
    width: 100px;
}

.columna-items {
    height: 100%;
    margin: 5px 0;
}

.imagen-items {
    width: 150px;
    height: 100%;
    
}

.imagen-items img {
    width: 100%;
    height: 100%;
}

.items-busqueda img {
    height: 100%;
}





.nombre-usuario-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nombre-usuario-header p {
    color: #fff;
   
    width: 100px;
    float: right;
    margin: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.titulo-coincidencias {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

}

.titulo-coincidencias h1 {
    font-size: 50px;
    color: #fff;
}

.row {
    margin: 0 !important;
}

.fila-coincidencias {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 100% !important;
    height: 100%;
}

.fila-coincidencias h2 {
    color: #6495ed;
    border: none;
    background-color: #ffffff;
    font-size: 28px;
}

.item-conexiones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    font-size: 22px;
    padding: 5px;
    gap: 15px;
    background-color: #ffffff;
    border: 2px solid #6495ed;
}

.imagen-busqueda {
    width: 15%;
}

.texto-item-busqueda {
    width: 85%;
}

.item-conexiones img {
    width: 100%;
    border: 2px solid #6495ed;
    border-radius: 100px;
}

.item-conexiones h3 {
    color: #6495ed;
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.item-conexiones p  {
color: #6495ed;
    font-size: 16px;
    margin: 0;
}



* {
    font-family: "Cal Sans", sans-serif;
    font-size: 14px;
    margin: 0 ;
}

