body, html {
    margin: 0 0;
    padding: 0;
    height: 100vh;
}



header {
    display: inline-flex;
    height: 100px;
    width: 100%;
    justify-content: space-around;
    padding: 5px;
    background-color: #6495ed;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header div {
    width: 30%;
    height: 100px;
    align-content: center;
    text-align: center;
}



.logo-header {
    width: 100px;
    height: 100%;
    border-radius: 10px;
    float: left
    ;
}



.buscador-header {
    border-radius: 20px;
    margin: 0;
    padding: 0 10px;
    border: none;
    width: 300px;
    height: 30px;
    color: #6495ed;
}

.botones-header {
    margin: 0 5px;
    float: right;
    height: 30px;
    width: 100px;
}


.botones-header:hover .accion-header {
    background-color: #ffffff;
    color: #6495ed;
    transition: 0.5s;
}

.botones {
    cursor: pointer;
    border: none;
    transition: all 0.5s;
    border-radius: 10px;
    background-color: #6495ed;
    color: #ffffff;
}

.botones:hover {
    background-color: #ffffff;
    color: #6495ed;
    transition: all 0.5s;
}

.botones:active {
    background-color: #6495ed;
    color: #ffffff;
    transform: scale(0.8);
}

.contenedor_prin {
    display: flex;
    padding-top: 110px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    height: 88vh;
    background-color: #fff;
}

.titulo-inicio {
    display: flex;
    align-items: center;
    font-size: 100px;
    margin: 0px;
    color: #ffffff;
    letter-spacing: 2px;
    height:100px ;
    text-shadow:
    -3px -3px 0 #6495ed,
    3px -3px 0 #6495ed,
    -3px 3px 0 #6495ed,
    3px 3px 0 #6495ed; 
}

.parrafo-inicio {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: #bbb;
    font-size: 24px;
}

.texto-matchwork {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 25px;
    width: 50%;
}
a {
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-size: 16px;
}

.botones-inicio {
    margin: 0 20px;
    padding: 0 5px;
    border-radius: 50px;
    height: 40px;
    width: 120px;
    
    border: 1px solid #6495ed;
}

.botones-inicio:hover .accion-inicio {
    background-color: #ffffff;
    color: #6495ed;
    transition: 1s;
}

.contenedor-h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.titulo-medio {
    font-size: 50px;
    margin: 15px;
    color: #ffffff;
    background-color: #6495ed;
    border-radius: 35px;
    width: 300px;
    text-align: center;

}

.contenedor-conexiones {
    display: inline-flex;
    width: 100%;
    height: 79vh;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.colum {
    display: flex;
    text-align: center;
}

.columna-1{
    width: 25%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.columna-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 50px;
    max-width: 600px;
    margin: 0;
    max-height: 50%;
    align-content: center;
    
}

.items {
    display: flex;
    flex-direction: row;
    background-color: #6495ed;
    padding: 20px;
    border-radius: 12px;
    font-size: 18px;
    gap: 5px;
}

.imagen-items {
    width: 10rem;
    height: 10rem;
    border: 1px solid #fff;
    justify-content: center;
}

#imagen-item {
    width: 100%;
    align-items: center;
}

.texto-items {
    width: 50%;
    margin: 0;
    text-align: left;
    align-items: flex-start;
    flex: 1;
    
}

#titulo-item, #parrafo-item {
    margin: auto;
    color: #eee;
    letter-spacing: 0.5px;
}

.contenedor-final {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 79vh;
    margin: 0;
    align-items:center;
}

#titulo-bloque-final {
    display: flex;
    
}

.bloque-central-final {
    display: flex;
    width: 70%;
    height: 300px;
    justify-content: space-between;
    margin: 50px auto;
}

.bloque-izquierdo {
    display: flex;
    float: left;
    text-align: center;
    flex-direction: column;
    width: 45% ;
    background-color: #6495ed;
    border-radius: 30px;
}

#titulo-bloques {
    color: #fff;
    letter-spacing: 1px;
    height: 30%;
    align-content: center;
    padding: 0 20px;
    margin: 20px 20px 0 20px;
    font-size: 20px;
}

#titulo-bloques h3 {
    font-size: 30px;
}



#texto-bloque {
    color: #fff;
    height: 70%;
    padding: 0 20px;
    margin: 20px;
    align-items: flex-start;
    display: flex; 
    flex-wrap: wrap;  
}

#texto-bloque p {
    font-size: 18px;
}

.bloque-derecho {
    display: flex;
    float:right;
    text-align: center;
    flex-direction:column;
    width: 45% ;
    background-color: #6495ed;
    border-radius: 30px;
}

.bloque-final {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.lista {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 50%;
    gap: 20px;
    justify-content: center;
    align-content: center;
    color: #6495ed;
    margin: 0 auto;
    justify-items: center;    
}

.lista li {
    height: 40px;
    width: 100px;
    font-size: 20px;
}

footer {
    display: inline-flex;
    
    width: 100%;
    height: 20vh;
    background-color: #6495ed;
    color: #fff;
    justify-content: space-around;
}

.redes-footer {
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
}

.terminos-footer {
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-end;
}

.nombre-footer {
    display: flex;
    align-items: center;
}

.inicio-sesion {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    margin: 289px auto;
    justify-content: center;
    background-color: #6495ed;
    border-radius:20px ;
    align-items: center;
}

.imagen-inicio-sesion {
    width: 150px;
}

.form-inicio-sesion {
    text-align: center;
    color: #fff;
}

.boton-sesion {
    margin: 0 5px;
    height: 30px;
    width: 70px;
}

.accion-sesion {
    height: 30px;
    width: 70px;
}

.boton-sesion:hover .accion-sesion {
    background-color: #fff;
    color: #6495ed;
    transition: all 1s;
}

.inicio-sesion input {
    border-radius: 20px;
    border: none;
}

.contenedor-registro {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    margin: 164px auto;
    background-color: #6495ed;
    border-radius:20px ;
    gap: 0px;
    color: #fff;
    align-items: center;
}

.logo-registro, .logo-registro img {
    width: 150px;
    height: 150px;
}

.titulo-registro {
    display: flex;
    height: 15%;
    align-items: center;
    ;
}

.titulo-registro h1 {
    font-size: 25px;
    letter-spacing: 2px
}

.registro {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,auto);
    gap: 16px;
    max-width: 600px;
    height: 70%;
    margin: 0 auto;
    justify-items:center ;
}

.registro input {
    border-radius: 30px;
    border: none;
    width: 150px;
}

.registro select {
    background-color: #fff;
    color: #6495ed;
    border-radius: 30px;
    height: 25px;
    width: 150px;
}

.espacio-boton-registro {
    height: 15%;
    display: flex;
    grid-column: span 2;
}

.boton-registro {
    margin: 10px;
    width: 100px;
    height: 30px;
    border-radius: 30px;
}

.boton-registro:hover .accion-registro {
    background-color: #fff;
    color: #6495ed;
    transition: 1s;
}

.campo-registro {
    display: flex;
    flex-direction: column;
}

.campo-registro-radius {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.contenedor-fotos-user {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 70px;
    padding-top: 105px;
}

.foto-portada {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    z-index: 1;
    border: 4px solid white;
}

.foto-perfil {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
    background-color: white;
}

.contenedor-nombre-perfil {
    display: flex;
    justify-content: center;
}

.contenedor-nombre-perfil h1 {
    font-size: 40px;
    color: #6495ed;
}

.contenedor-info-user {
    display: inline-flex;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
    flex-wrap: wrap;
}

.info-cazador {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    margin: 0 20px;
    padding: 20px;
    gap: 10px;
    border: 5px solid #646464;
    border-radius: 30px;
}

.info-cazador h2 {
    display: flex;
    justify-content: center;
}

.contenedor-info-user p {
    color: #646464;
}

.contenedor-info-user h2 {
    font-size: 18px;
    color: #6495ed;
}

.contenedor-info-user h3 {
    font-size: 16px;
    color: #6495ed;
}

.contacto-cazador {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    margin: 0 20px;
    gap: 10px;
    border: 5px solid #646464;
    border-radius: 30px;
}

.contacto-cazador h2 {
    display: flex;
    justify-content: center;
}

.contacto-cazador a {
    color: #646464;
    
}

.contenedor-contenido-user {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70vh;
    margin-bottom: 20px;
}

.titulo-portafolio-cazador {
    display: flex;
    margin: 60px 30px;
    align-items: center;
    justify-content: center
}

.titulo-portafolio-cazador h2 {
    font-size: 50px;
    color: #6495ed;
}

.item-proyecto {
    width: 400px;
    height: 120px;
    margin: 10px;
}

.imagen-proyecto, .item-proyecto img {
    width: 120px ;
}

.item-proyecto p, .item-proyecto h3 {
    color: #fff;
}

.info-proyecto {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.interaccion-match {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    align-items: center;
}

.interaccion-match h3 {
    font-size: 25px;
    color: #6495ed;
}


.boton-interaccion-perfil {
    width: 150px;
    padding: 6px;
    border: 1px solid #6495ed;
}

.boton-interaccion-perfil:hover .accion-perfil {
    background-color: #ffffff;
    color: #6495ed;
    transition: 1s;
}

.contenedor-filtros {
    flex-direction: column;
    height: 420px;
    width: 200px;
    display: flex;
    gap: 15px;
}

.columna-filtros {
    width: 25%;
    margin: 0;
    display: flex;
    justify-content: center;
    
}

.contenedor-filtros label {
    background-color: #6495ed;
    width: 150px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #fff;
    margin: 5px;
}

.contenedor-filtros select {
    display: flex;
    color: #6495ed;
    background-color: #fff;
    width: 110px;
    padding: 0 5px;
    border-radius: 20px;
    border-color: #6495ed;
}

.contenedor-filtros div {
    display: flex;
    flex-direction: column;
    background-color: #6495ed;
    align-items: center;
    padding: 5px 0;
    width: 170px;
    border-radius: 25px;
}

.busqueda-filtros {
    display:flex;
    justify-content: flex-start;
    width: 100%;
    height: 50vh;
    margin: 0;
    align-items: flex-start;
}

.columna-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 50px;
    max-width: 950px;
    margin: 0;
    max-height: 420px;
    align-content: center;
}

.contenedor-titulo-match {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-match {
    display: flex;
    padding-top: 150px;
    padding-bottom: 50px;
    align-items: center;
    font-size: 100px;
    margin: 0px;
    color: #ffffff;
    letter-spacing: 2px;
    height:100px ;
    text-shadow:
    -3px -3px 0 #6495ed,
    3px -3px 0 #6495ed,
    -3px 3px 0 #6495ed,
    3px 3px 0 #6495ed; 
}

.nombre-usuario-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nombre-usuario-header p {
    color: #fff;
    height: 30px;
    width: 100px;
    float: right;
    margin: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.titulo-coincidencias {
    display: flex;
    justify-content: center;
    margin: 40px;
    align-items: center;

}

.titulo-coincidencias h1 {
    font-size: 50px;
    color: #fff;
}

.contenedor-coincidencias {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 88vh;
    align-items: center;
}

.fila-coincidencias {
    display: flex;
    width: 800px;
    height: 200px;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.fila-coincidencias h2 {
    color: #6495ed;
}

.item-conexiones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    font-size: 18px;
    gap: 5px;
    width: 200px;
    height: 200px;
}

.item-conexiones img {
    width: 130px;
    border: 2px solid #646464;
    border-radius: 20px;
}

.item-conexiones h3, .item-conexiones p {
    color: #646464;
    font-size: 16px;
}



* {
    font-family: "Cal Sans", sans-serif;
    font-size: 14px;
    margin: 0 ;
}

